@import url("https://p.typekit.net/p.css?s=1&k=pxt8psq&ht=tk&f=39347.39348.39349&a=90437898&app=typekit&e=css");

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-itc-avant-garde-gothic-pro {
    font-family: "itc-avant-garde-gothic-pro",sans-serif;
}
body {
    margin: 0;
    background-color: black;    
}  
.hidden {
    display: none;
}  
.landingpage {
    margin: 0 auto;
    padding: 0 80px;
    position: relative;   
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
}
  .landingpage::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 138px;
    filter: blur(90px);
    background-color: #FB37FF;
}
  .landingpage::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    background-color: #18B2DE;
    filter: blur(80px);
}
  .landingpage .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 0px;
    width: 100%;
  }
  .landingpage .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
  .landingpage .auction {
    margin-top: 80px;
  }
  .landingpage .discover {
    display: flex;
    flex-direction: column;
  }
  .landingpage .footer {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.landingpage .footer2 {
    margin: 20px 0 1px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-top: 1px solid #F2F2F2;
}

/*****  menu hamburguesa   *****************/
.navbar, .navbar-default {
  background-color: transparent !important;
  border: none !important;
  padding: 1rem 0.5rem !important;
 
}
.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
  color: white !important;
  text-transform: uppercase !important;
  font-size: 1.2rem;  
  padding: 0;
  margin: 15px;
}  
.navbar-brand {
  /*margin-left: 110px;*/
  /*margin: 24px 93px;*/
    height: 50%;    
    background: linear-gradient(93.51deg, gold 2.84%, white 99.18%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-style: normal;
    font-weight: 700;
    font-size: 23px !important;
    /*font-size: 29px;
    font-weight: 400;
    line-height: 24px !important;*/
    letter-spacing: 0.5px;
    text-align: left;    
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active {
  color: white !important;
  text-transform: uppercase !important; 
  padding: 0;
  margin: 15px;
  
}  
.navbar-scrolled {
  background-color: black !important;   
  transition: background-color 0.4s;
  box-shadow: 0 0 10px 2px;
}  
.navbar-default .navbar-toggle:hover {   
  background-color: black !important;   
  transition: all 0.4s;
}  
.navbar-default .navbar-toggle:focus {    
  background-color: gold !important;
}  
.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}


.navbar .createbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
  color: white;    
  font-style: normal;
  font-weight: 500;
  font-size: 13px !important;
}
.navbar .createbtn.selectedbtn:hover {
  /*border: 1px solid #D7D7D7;*/
  color:#828282;    
  /*border-radius: 1px;*/
}
#main-menu-items {
  text-align: center;
} 
  
  .box .infobox {
    animation-name: leftslide;
    animation-duration: 0.8s;
    max-height: 500px;
    max-width: 50%;
    overflow: hidden;    
    z-index: 100;
    /*background: repeating-conic-gradient(#FFF9 0%, transparent .00004%, transparent .163345%);*/
  }
  .box .infobox-boldtext {
    margin: 0;   
    font-size: 105px;
    font-weight: 600;
    line-height: 250px;
    letter-spacing: -2px;
    text-align: center;
    
  }
  .box .infobox-slimtext {
    margin: 24px 23px;    
    /*color: #fdb700;*/
    background: linear-gradient(93.51deg, gold 2.84%, white 99.18%);
    /*background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .box .infobox-btnwrapper {
    display: flex;
  }
  .box .infobox-explorebtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1D2B;
    padding: 8px 38px;
    border-radius: 16px;    
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -1px;
    color: #FFFFFF;
  }
  .box .infobox-createbtn {
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 8px 38px;
    border: 1px solid #D7D7D7;
    border-radius: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -1px;
    color: #FFFFFF;
  }
  .box .infobox .selected {
    border: none;
    background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  }
  .box .display {
    animation-name: rightslide;
    animation-duration: 0.8s;
    padding: 14px;
    /*border: 1px solid;*/
    /*background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);*/
    border-radius: 35px;
    max-height: 450px;
    max-width: 50%;
    overflow: hidden;
  }
  .box .display-nft {
    object-fit: cover;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  .box .display .infowrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .box .display .info {
    display: flex;
    align-items: center;    
    font-style: normal;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
  }
  .box .display .info h1 {
    margin: 0;   
  }

  .tk-itc-avant-garde-gothic-pro {
    font-family: "itc-avant-garde-gothic-pro",sans-serif;
}

h1 {    
    font-family: "itc-avant-garde-gothic-pro",sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 10.667vw;
    line-height: .25vw;   
}  
#neon-text {
    animation: flicker 6s linear infinite;
}

@keyframes flicker {
    0% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw rgb(253, 183, 0),
      0 0 0.521vw #fdb700;
    } 3.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 3.67% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #fdb700,
      0 0 4.271vw #fdb700,
      0 0 4.792vw #fdb700,
      0 0 5.313vw #fdb700,
      0 0 7.865vw #fdb700;
    } 10% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 36.7% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 37.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 38% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 40.67% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #FF5200,
      0 0 0.521vw #FF5200;
    } 41.33% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 60% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #FF5200,
      0 0 4.271vw #FF5200,
      0 0 4.792vw #FF5200,
      0 0 5.313vw #FF5200,
      0 0 7.865vw #FF5200;
    } 80% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 93.3% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #FF5200,
      0 0 4.271vw #FF5200,
      0 0 4.792vw #FF5200,
      0 0 5.313vw #FF5200,
      0 0 7.865vw #FF5200;
    } 93.5% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 98% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 100% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    }
}  
/*bold weight*/
b {
    font-weight: 700;
}
/*book weight NON ITALIC*/
i {
    font-style: normal;
    font-weight: 100;
}

/******   murcielago    ***/
:root {
	--gray: #4a4649;
    --black: #29272a;
    --dark: #383339;
}
.display { 
  width: 100vw;
  height: 50vh;  
  top: 5vmin;
  left: 10vmin;    
  transition: all 1s ease 0s;
}
.display {
  position: relative;
  /*background: repeating-conic-gradient(#FFF9 0%, transparent .00004%, transparent .163345%);*/
  /*filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 3px #fff);*/
}
.bat-cat {
    width: 80vmin;
    height: 40vmin;
    animation: fly 3s linear 0s infinite;
    z-index: 2;
}
@keyframes fly {
    25% { transform: translateX(-1vmin); }
    33% { margin-top: -1vmin; }
    66% { margin-top: 1vmin; }
    75% { transform: translateX(1vmin); }
}
@keyframes fly-move {
    25% { transform: translateX(-1vmin); }
    53% { margin-top: 1vmin; }
    86% { margin-top: -1vmin; }
    75% { transform: translateX(1vmin); }
}
.bat-cat * {
	position: absolute;
    box-sizing: border-box;
}
.bat-cat:hover {
    animation: fly-move 1.5s linear -0.75s 1;
}
.body {
  width: 20vmin;
  height: 20vmin;
  background: var(--black);
  border-radius: 1vmin 100%;
  top: 15vmin;
  left: 30vmin;
  transform: rotate(45deg) skew(-5deg, -5deg);
  box-shadow: 1vmin -0.15vmin 0 0 var(--gray) inset;
  z-index: 2;
  transition: all 1s ease 0s;
}
/*.display {
    width: 50vmin;
    height: 50vmin;
    background: var(--black);
    border-radius: 1vmin 100%;
    top: 15vmin;
    left: 30vmin;   
    box-shadow: 1vmin -0.15vmin 0 0 var(--gray) inset;
    z-index: 0;
    transition: all 1s ease 0s;
}*/
.head {
    width: 14vmin;
    height: 13vmin;
    background: var(--black);
    border-radius: 90% 90% 100% 100%;
    top: 7.25vmin;
    left: 33vmin;
    box-shadow: 1.2vmin 0.5vmin 0 0 inset var(--gray);
    z-index: 3;
}
.head:before,
.head:after {
    content: "";
    position: absolute;
    width: 3.75vmin;
    height: 4.25vmin;
    background: radial-gradient(circle at 60% 50%, #000 1.15vmin, #fff0 calc(1.15vmin + 1px)), #fff;
    border-radius: 100%;
    top: 5vmin;
    left: 2.15vmin;
    transform: rotate(-10deg);
}
.head::after {
    transform: rotate(10deg) rotateY(180deg);
    left: 8vmin;
}
.ears {
    width: 18.25vmin;
    height: 15vmin;
    left: 31vmin;
    top: 2vmin;
}
.ears:before,
.ears:after {
    content: "";
    position: absolute;
    width: 13vmin;
    height: 13vmin;
    left: -2.1vmin;
    top: 1.5vmin;
    background: var(--black);
    border-radius: 0.5vmin 100%;
    transform: skew(-5deg, -5deg) rotate(19deg);
    box-shadow: 1.25vmin -0.2vmin 0 0 var(--gray) inset;
}
.ears:after {
    left: 7vmin;
    transform: rotate(69deg) skew(-5deg, -5deg);
    box-shadow: 0.125vmin -1.5vmin 0 0 var(--gray) inset;
}
.wings {
    width: 80vmin;
    height: 40vmin;
    z-index: -1;
}
.wing {
    background: #ffc10700;
    width: 40vmin;
    height: 23vmin;
    top: 8vmin;
    transform-origin: 90% 50%;
    animation: fly-right 1.5s ease 0s infinite;
}
@keyframes fly-right {
    49% { transform: rotate(-25deg); }    
}

@keyframes fly-left {
    51% { transform: rotateY(180deg) rotate(-25deg); }  
}
.wing + .wing {
    transform: rotateY(180deg);
    left: 7vmin;
    animation-name: fly-left;
}
.finger {
    border-radius: 3vmin 5vmin;
    width: 0vmin;
    height: 22vmin;
    background: #f002;
    transform: rotate(68deg);
    top: -6vmin;
    left: 11vmin;
    border: 0.85vmin solid var(--black);
    background: var(--black);
    z-index: 2;
}
.finger + .finger {
    transform: rotate(28deg);
    top: 0vmin;
    left: 16vmin;
    height: 19vmin;
}
.finger + .finger + .finger {
    transform: rotate(-9deg);
    top: 0vmin;
    left: 23vmin;
    height: 23vmin;
}
.finger + .finger + .finger + .finger {
    transform: rotate(-50deg);
    top: -3.75vmin;
    left: 29vmin;
    height: 23vmin;
}
.finger:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.85vmin solid var(--black);
    border-radius: 100%;
}
.bat-cat:hover .wing {
    animation: stop-fly 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s 1;
    animation-fill-mode: forwards;
}
@keyframes stop-fly {
   100% { transform: rotateY(90deg); }
}
/*.bat-cat:before {
    content: "";
    width: 100vw;
    height: 100vmin;
    left: 50%;
    transform: translateX(-50%);
    bottom: -200vmin;
    --units: 2vmin;
    --brick1: #414141;
    --brick2: #3d3d3d;
    --lines: #0e0e0e;
    --gp-ln: 50%/calc(var(--units) * 10) calc(var(--units) * 5);
    --gp-cn: 50%/calc(var(--units) * 5) calc(var(--units) * 5);
    background: repeating-conic-gradient(from 90deg at 95% 55%, var(--lines) 0% 25%, #fff0 0% 100%) var(--gp-cn), repeating-linear-gradient(180deg, var(--lines) 0 5%, #fff0 0 50%, var(--lines) 0 55%, var(--brick2) 0 100% ) var(--gp-ln), repeating-linear-gradient(90deg, var(--brick1) 0 47.5%, var(--lines) 0 50%, var(--brick1) 0 97.5%, var(--lines) 0 100% ) var(--gp-ln);
    transition: bottom 1s ease 0s;
    border-top: calc(var(--units) * 2) solid #8b8b8b;
    box-shadow: 0 calc(var(--units) * -0.25) 0 0 var(--lines);
    z-index: -2;
}
.bat-cat:hover:before {
    bottom: -97vmin;
}*/
/*.bat-cat:after {
    content: "";
    background: 
    radial-gradient(circle at calc(50% + 7.5vmin) 8vmin, #0003 8vmin, #fff0 9vmin), 
    repeating-linear-gradient(60deg, #fff0 0 2.5vmin, black calc(2.5vmin + 1px) 3vmin, #fff0 calc(3vmin + 1px) 8.66vmin);
    width: 100vw;
    height: 100vmin;
    left: 50%;
    transform: translateX(-50%);
    bottom: -193vmin;
    background-size: 100% 4.5vmin, 10vmin 4.5vmin;
    background-repeat: no-repeat, repeat-x;
    background-position: calc(50% - 3.2vmin) 0px;
    transition: bottom 1s ease 0s;
    z-index: -1;
}
.bat-cat:hover:after {
    bottom: -93vmin;
}
.bat-cat:hover .body {
    border-radius: 5vmin 100%;
    top: 16vmin;
    border-radius: 8vmin 100%;
    top: 16.5vmin;
}*/
.membrane {
    background: radial-gradient(circle at 38% 126%, #fff0 10vmin, var(--dark) calc(10vmin + 1px));
    width: 13vmin;
    height: 20vmin;
    transform: rotate(29deg);
    left: 5vmin;
    top: -3vmin;
    clip-path: polygon(100% 0%, 0% 80%, 100% 93%);
}
.membrane + .membrane {
    left: 16vmin;
    transform: rotate(30deg) rotateY(180deg);
    top: 3.5vmin;
}
.membrane + .membrane + .membrane {
    left: 24.5vmin;
    transform: rotate(-8deg) rotateY(180deg);
    top: 2.5vmin;
    clip-path: polygon(97% 0%, -50% 100%, 100% 100%);
    background: radial-gradient(circle at 70% 141%, #fff0 10vmin, var(--dark) calc(10vmin + 1px));
}
.leg {
    width: 2vmin;
    height: 5vmin;
    background: var(--black);
    top: 35vmin;
    left: 37vmin;
    transform: rotate(15deg);
    border-radius: 1vmin 2vmin;
    box-shadow: 0.75vmin 0 0 0 var(--gray) inset;
    transition: all 0.4s ease 0.25s;
}
.leg + .leg {
    left: 41vmin;
    border-radius: 2vmin 1vmin;
    transform: rotate(-13deg);
}
.bat-cat:hover .leg {
    width: 6vmin;
    border-radius: 2.5vmin;
    border-radius: 1vmin 1vmin 2.5vmin 2.5vmin;
    left: 34vmin;
    top: 32.5vmin;
    z-index: 1;
    transform: rotate(5deg);
}
.bat-cat:hover .leg + .leg {
    left: 41vmin;
    transform: rotate(-5deg);
}
.leg:before {
    content: "";
    width: 2vmin;
    height: 4vmin;
    background: var(--black);
    top: 3.25vmin;
    transform: rotate(-25deg);
    transform-origin: 50% 0;
    left: -0.35vmin;
    border-radius: 1vmin 3vmin 3vmin 1vmin;
    border-left: 1.1vmin solid var(--gray);
    transition: all 0.4s ease 0.25s;
}
.leg + .leg:before {
    top: 3.25vmin;
    left: 0.25vmin;
    transform: rotate(18deg);
    border-radius: 3vmin 1vmin 1vmin 3vmin;
    border-left: 0;
    background: var(--gray);
    border-right: 1.35vmin solid var(--black);
    border-top: 1px solid var(--black);
}
.bat-cat:hover .leg:before {
    transform: rotate(-160deg); 
	opacity: 0;
}

.bat-cat:hover .leg + .leg:before {
    transform: rotate(160deg);
}
.tail {
    width: 10vmin;
    height: 11vmin;
    border-radius: 1vmin 9vmin;
    left: 30vmin;
    top: 24vmin;
    transform: rotate(23deg);
    transform-origin: 100% 100%;
    border: 1vmin solid #fff0;
    border-bottom: 1vmin solid var(--dark);
    border-left: 1.55vmin solid var(--dark);
    filter: drop-shadow(-0.25vmin 0vmin 0px var(--gray)) drop-shadow(-0.25vmin 0vmin 0px var(--gray));
    transition: all 0.4s ease 0.25s;
    z-index: 1;
}

.tail:before {
    content: "";
    width: 2vmin;
    height: 2vmin;
    background: var(--dark);
    border-radius: 3vmin 1vmin;
    left: -1.75vmin;
    top: -1.125vmin;
    transform: rotate(-36deg);
}

.bat-cat:hover .tail {
    left: 25vmin;
    animation: tail-move 3s ease 0s infinite alternate;
}

@keyframes tail-move {
    20% { transform: rotate(21deg); }
    72% { transform: rotate(25deg); }
    
}

/*****   fin murcielago   ******/

  .box .display .info-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .box .display .info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Poppins";
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
  }
  .box .display .info2 h1 {
    margin: 0;
  }
  .box .display .info2 .iconwrapper {
    display: flex;
    align-items: center;
  }
  .box .display .info2 .iconwrapper svg {
    margin-right: 5px;
  }
  
  .auction .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  .auction .title .titlebold {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
  }
  .auction .title .titleslim {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    color: #D7D7D7;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -1px;
  }
  .auction .nft {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
  }

  /****  whatsapp   ****/
.whatsapp {
    z-index: 1000;
    position: fixed;    
    right: 5px;
    top: 540px;
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    /*margin-top: 10px;*/
    padding: 0;
    flex-wrap: wrap;
}
.whatsapp .logows {
    /*background: #1b1b1b;*/
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 5px;    
}    
.whatsapp .logows:hover:not(.titulo) {
    transform: scale(1.1);
    -webkit-transform: scale(1.1) 600ms;
    
}
.whatsapp .logows img {
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    height: 20px;
    left: 50%;
}
/****    footer  ****/
  
.footer-main {
    max-width: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
}
.footer-navigate {
    display: flex;
}
.footer-navigate .nav {
    margin-left: 60px;
}
.footer-navigate .nav h5 {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer-navigate .nav p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #D7D7D7;
}
  
.footer2 p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #D7D7D7;
}  
    
@media screen and (max-width: 1500px) {
    .landingpage {
      max-width: 1400px;
    }
}

  @media screen and (max-width: 1040px) {
    .box {
      flex-direction: column;
    }
    .box .infobox {
      max-height: 250px;
      max-width: none;
      margin-bottom: 50px;
    }
    .box .display {
      display: block;
      max-height: none;
      max-width: none;
    }
  
    .auction .nft {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  
    .discover-items {
      grid-template-columns: auto auto auto;
      justify-content: space-around;
    }
  
    .footer {
      flex-direction: column;
    }
    .footer-main {
      max-width: 80%;
      margin-bottom: 50px;
      text-align: center;
    }
    .footer-navigate .nav:first-child {
      margin: 0;
    }
    
  }
  @media screen and (max-width: 925px) {
    .navlinkwrap {
      display: none;
    }

    .buttonwrap {
      display: none;
    }
  
    .hamburger {
      display: flex !important;
      align-items: center;
    }

    .navbar .navlogo {
      font-size: 18px;
    }
  
    .started-slimtext {
      text-align: center;
    }
    .navbar-brand {
      font-size: 21px !important;
    }
  }
  @media screen and (max-width: 825px) {
    .started-items {
      display: grid;
      grid-template-columns: auto auto;     
      justify-content: space-evenly;      
      padding: 50px 0;
    }
    .started-items:before {
      height: 200px;
      top: 90px;
      filter: blur(120px);
    }
  
    .discover-items {
      grid-template-columns: auto auto;
      justify-content:space-around;
    }
  }
  @media screen and (max-width: 700px) {
    .box {
      flex-direction: column;
    }
    .box .infobox {
      max-height: none;
      max-width: none;
      margin-bottom: 50px;
    }
    .box .display {
      display: block;
      max-height: none;
      max-width: none;
    }
  
    .discover-title {
      justify-content: center;
    }
    .discover-title .filters {
      display: none;
    }
  
    .auction .title {
      justify-content: center;
    }
    .auction .title .titleslim {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .landingpage {
      padding: 0 20px;
    }
    .landingpage .box {
      margin-top: 40px;
    }

    .navbar .navlogo {
      font-size: 12px;
    }

    .navbar-brand {
      font-size: 18px !important;
    }
  
    .box .infobox-boldtext {
      font-size: 45px;
      line-height: 50px;
    }

    .landingpage .infobox .navbar-brand {
      text-align: center;
    }
    .box .infobox-slimtext {
      font-size: 20px;
      line-height: 18px;
    }
  
    .discover-items {
      grid-template-columns: auto;
      justify-content: space-around;
    }
  
    .auction .nft {
      grid-template-columns: auto;
      justify-content: space-around;
    }
  
    .footer-main {
      font-size: 20px;
      line-height: 30px;
      max-width: 100%;
      margin-bottom: 50px;
      text-align: center;
    }
  
    .footer-navigate {
      justify-content: space-between;
      width: 100%;
    }
    .footer-navigate .nav {
      margin-left: 20px;
    }
    .footer-navigate .nav h5 {
      font-size: 15px;
      line-height: 30px;
    }
    .footer-navigate .nav p {
      font-size: 10px;
      line-height: 18px;
    }
  }
  @media screen and (max-width: 480px) {
    .landingpage .box .infobox-boldtext {
      font-size: 32px;
      line-height: 1.4em;
      text-align: center;
    }
    .landingpage .box {
      margin-top: 35px;
    }
    .navbar-brand {
      font-size: 18px !important;      
    }
    .landingpage .auction {
      margin-top: 10px;
    }

    .landingpage .box .infobox-slimtext {
      text-align: center;
    }
    .landingpage .box .infobox-btnwrapper {
      justify-content: center;
    }
    .auction .wsk-btn {
      position: relative;
      top: 30px;
    }
    .footer2 p {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 380px) {
    .navbar-brand {
      font-size: 14px !important;
  }
    .landingpage .box {
      margin-top: 40px;
  }
}

  @keyframes leftslide {
    from {
      transform: translateX(-700px);
    }
    to {
      transform: translateX(0px);
    }
  }
  @keyframes rightslide {
    from {
      transform: translateX(550px);
    }
    to {
      transform: translateX(0px);
    }
  }
/**   css del mapa   **/

#map {
  height:50vh;
  /*width: 100%;*/
  width: 80vw;
}

/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 10px 10px 20px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  background: gold;
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid black;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}


/** css del modal   ***/
* {
  box-sizing: border-box;
}

html, body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  html, body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
  }
}
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 400px;
  max-height: 300px;
  width: 90%;
  height: 80%;
  background-color: gold;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}
/*.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: auto;
  height: 100%;
}*/
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text h3 {
  font-size: 1.875rem;
  color: black;
  line-height: 1.5;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0A0A0A;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.casilla {  
  background: gold;  
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 8px 5px;
  width: 140px;
  height: 25px;
  color: black;  
}

.boton {
  border: 0;
  outline: 0;
}

@media screen and (max-width: 500px) {
   .casilla {
    width: 110px;
  }
  .boton {    
    width: 50px;
    text-align:start;
    font-size: smaller;
  }
}

/** css de galeria  ***/

@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');
body{
  font-family: 'Muli', sans-serif;
  background:#ddd;
}
.shell{
  padding:80px 0;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: gold;
  background: gold;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
} 

span {
  color:#FF9800;  
}

.zmdi  {  
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}