/**
 * `@property` is required for the animation to work.
 * Without it, the angle values won’t interpolate properly.
 *
 * @see https://dev.to/afif/we-can-finally-animate-css-gradient-kdk
 */
 @property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
  }
  
  /**
   * To animate the gradient, we set the custom property to 1 full
   * rotation. The animation starts at the default value of `0deg`.
   */
  @keyframes spin {
    to {
      --bg-angle: 360deg;
    }
  }
  
  article {
    /* add the animation, but pause it by default */
    animation: spin 2.5s infinite linear paused;
  
    /**
     * Using `background-origin` we can create a “border” using two gradients. And to
     * make the gradients better-looking, we use OKLCH.
     *
     * @see https://developer.mozilla.org/en-US/docs/Web/CSS/background-origin
     * @see https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl
     */
    background:
      /* Background colors don’t work with `background-origin`, so use a gradient. */ linear-gradient(
          to bottom,
          oklch(0.1 0.2 120 / 0.95),
          oklch(0.1 0.2 120 / 0.95)
        )
        padding-box,
      /* ends at inner border edges */
        conic-gradient(
          from var(--bg-angle) in oklch longer hue,
          oklch(1 0.37 0) 0 0
        )
        border-box; /* extends to outer border edges */
  
    /* a clear border lets the background gradient shine through */
    border: 6px solid transparent;
  
    /* unpause the animation on hover */
    &:hover {
      animation-play-state: running;
    }
  }
  
  /******************************************************************
   * Other styles to make the demo look nice
   ******************************************************************/
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 1.45;
  }
  
  body {
    margin: 0;
  }
  
  main {
    background: radial-gradient(
        circle,
        oklch(0.15 0.2 330 / 0),
        oklch(0.15 0.2 330 / 1)
      ),
      linear-gradient(
        344deg in oklch,
        oklch(0.3 0.37 310),
        oklch(0.35 0.37 330),
        oklch(0.3 0.37 310)
      );
    display: grid;
    height: 100svh;
    place-items: center;
  }
  
  article {
    border-radius: 1rem;
    box-shadow: 0.125rem 0.25rem 0.25rem 0.5rem oklch(0.1 0.37 315 / 0.25);
    color: white;
    padding: 1rem;
    width: min(400px, 90vw);
  
    & h1 {
      line-height: 1.1;
      margin: 0;
    }
  
    & p {
      margin: 0.75rem 0 0;
    }
  }



 /******  boton volver    ***/

 /* The secret sauce that enables gradient rotation. NOTE: does not work in all browsers. https://caniuse.com/?search=%40property */
@property --border-angle-1 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

@property --border-angle-2 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 90deg;
}

@property --border-angle-3 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 180deg;
}

/* sRGB color. */
:root {
	--bright-blue: rgb(0, 100, 255);
	--bright-green: rgb(0, 255, 0);
	--bright-red: rgb(255, 0, 0);
	--background: black;
	--foreground: white;
	--border-size: 5px;
	--border-radius: 0.75em;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
	:root {
		--bright-blue: color(display-p3 0 0.2 1);
		--bright-green: color(display-p3 0.4 1 0);
		--bright-red: color(display-p3 1 0 0);
	}
}

@keyframes rotateBackground {
	to {
		--border-angle-1: 360deg;
	}
}

@keyframes rotateBackground2 {
	to {
		--border-angle-2: -270deg;
	}
}

@keyframes rotateBackground3 {
	to {
		--border-angle-3: 540deg;
	}
}

/*body {
	background: var(--background);
	color: var(--foreground);
	min-height: 100dvh;
	display: grid;
	place-content: center;
	margin: 0;
	font-family: "Aspekta";
}*/

button {
	--border-angle-1: 0deg;
	--border-angle-2: 90deg;
	--border-angle-3: 180deg;
	color: inherit;
	font-size: calc(0.3rem + 3vmin);
	/*font-family: inherit;*/    
	border: 0;
	padding: var(--border-size);
	display: flex;
    cursor: pointer;
	width: max-content;
	border-radius: var(--border-radius);
	background-color: transparent;
	background-image: conic-gradient(
			from var(--border-angle-1) at 10% 15%,
			transparent,
			var(--bright-blue) 10%,
			transparent 30%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-2) at 70% 60%,
			transparent,
			var(--bright-green) 10%,
			transparent 60%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-3) at 50% 20%,
			transparent,
			var(--bright-red) 10%,
			transparent 50%,
			transparent
		);
	animation: rotateBackground 3s linear infinite,
		rotateBackground2 8s linear infinite, rotateBackground3 13s linear infinite;
}

/* Change this background to transparent to see how the gradient works */
button div {
	background: var(--background);
	padding: 1em 1.1em;
	border-radius: calc(var(--border-radius) - var(--border-size));
	color: var(--foreground);
}

a {
    text-decoration: none;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	/*font-family: "Aspekta";*/
	font-weight: normal;
	src: url("https://assets.codepen.io/240751/Aspekta-300.woff2") format("woff2");
}

