* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 180vh;
    /*background-color: #dadada;*/
    display: flex;
    background-color: black;
    /*background-color: #36275d;*/
    background-image: url("https://www.creative-tim.com/assets/pattern/pattern-footer-e5b33ecb657f21b1f565fa095ceba399bfce603bca8fe0331c9e7b66ff60f1bf.svg");
  }

  h1 {  
    position: absolute;   
    /*padding: 35px;*/
   margin: 55px 25px ;
    text-align: center; 
    font-family: "itc-avant-garde-gothic-pro",sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 2.667vw;
    line-height: .15vw;   
  }  
  #neon-text {
    animation: flicker 6s linear infinite;
  }
  
  @keyframes flicker {
    0% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw rgb(253, 183, 0),
      0 0 0.521vw #fdb700;
    } 3.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 3.67% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #fdb700,
      0 0 4.271vw #fdb700,
      0 0 4.792vw #fdb700,
      0 0 5.313vw #fdb700,
      0 0 7.865vw #fdb700;
    } 10% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 36.7% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 37.3% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 38% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    } 40.67% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #FF5200,
      0 0 0.521vw #FF5200;
    } 41.33% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 60% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #FF5200,
      0 0 4.271vw #FF5200,
      0 0 4.792vw #FF5200,
      0 0 5.313vw #FF5200,
      0 0 7.865vw #FF5200;
    } 80% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 93.3% {
      /*2*/
    color: white;
    text-shadow:
      0 0 0.3vw #fff,
      0 0 0.521vw #fff,
      0 0 1.094vw #fff,
      0 0 2.188vw #FF5200,
      0 0 4.271vw #FF5200,
      0 0 4.792vw #FF5200,
      0 0 5.313vw #FF5200,
      0 0 7.865vw #FF5200;
    } 93.5% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #FF5200,
        0 0 2vw #FF5200,
        0 0 2.5vw #FF5200,
        0 0 3vw #FF5200,
        0 0 4vw #FF5200;
    } 98% {
      /*3*/
      opacity: 25%;
      color: transparent;
      text-shadow:
      0 0 0.3vw #fdb700,
      0 0 0.521vw #fdb700;
    } 100% {
      /*1*/
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #fdb700,
        0 0 2vw #fdb700,
        0 0 2.5vw #fdb700,
        0 0 3vw #fdb700,
        0 0 4vw #fdb700;
    }
  }  
  /*bold weight*/
  b {
    font-weight: 700;
  }
  /*book weight NON ITALIC*/
  i {
    font-style: normal;
    font-weight: 100;
  }







  
  .wrapper {
    margin-top: 1px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  
  .image {
    /*width: 20%;*/
    width: 266px;
    height: 400px;
    overflow: hidden;
    /*margin: 30px;*/
    margin: 50px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .image:hover img {
    transform: scale(1.2);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
  }
  
  .gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: aliceblue;*/
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.25s;
    user-select: none;
  }
  
  .gallery.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  
  .gallery-inner {
    width: 30%;
    height: 90%;
    margin: auto;
  }



  .desc  {
    display: inline-block;    
    position: relative;
    width: auto; 
  }

  .descripcion {
    position: absolute;
    padding-top: 10px;
    right: 10%;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  .talle {
    position: absolute;
    padding-top: 28px;
    right: 10%;
    color: #FF5200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  .precio {
    position: absolute;
    padding-top: 45px;
    right: 10%;
    color: #FF5200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }



  
  .control {
    position: absolute;
    color: gold;
    /*color: rgba(255, 255, 255, 0.8);*/
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }
  
  .close {
    color: gold;
   /* color: white;*/
    font-size: 35px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }
  .cruz {
    top: 15px;
    right: 25px;
    width: 25px;
  }

  
  .hide {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .wrapper {
      margin-top: 35px;
      flex-direction: column;
    }
    h1 {
      margin: 25px 25px;
      font-size:x-large;
      /*font-size: 2.667vw;*/
      line-height: .15vw;   
    }
  }
  